main {
   color: #201f1b;
}

h1 {
   margin-bottom: 30px;
}

.MuiPaper-root.css-11mde6h-MuiPaper-root {
   box-shadow: none;
   border-radius: 5px;
}

.MuiPaper-root.css-11mde6h-MuiPaper-root thead th[data-colindex="8"] {
   border-radius: 0 5px 0 0;
}

.MuiPaper-root.css-11mde6h-MuiPaper-root thead th[data-colindex="0"] {
   border-radius: 5px 0 0 0;
}

.MuiPaper-root.css-11mde6h-MuiPaper-root thead,
.MuiPaper-root.css-11mde6h-MuiPaper-root thead th {
   background-color: #004c86;
   padding: 15px 0;
}

.MuiPaper-root thead th button,
.MuiPaper-root .tss-bd2lw8-MUIDataTableHeadCell-sortActive,
.tss-1h9t3sl-MUIDataTableHeadCell-sortAction
   .css-1qgma8u-MuiButtonBase-root-MuiTableSortLabel-root.Mui-active {
   font-weight: bold;
   font-size: 12px;
   color: white;
}
.MuiButtonBase-root
   .css-1qgma8u-MuiButtonBase-root-MuiTableSortLabel-root.Mui-active
   .MuiTableSortLabel-icon {
   color: white;
}

.MuiPaper-root div[role="toolbar"] {
   background-color: rgb(241, 241, 241);
}

.MuiPaper-root tfoot td {
   border-bottom: 1px solid rgb(241, 241, 241);
   padding-top: 5px;
   padding-bottom: 5px;
   background-color: rgb(232, 236, 239);
   border-radius: 0 0 5px 5px;
}

.MuiPaper-root tbody td {
   padding: 10px 16px;
}

.MuiToolbar-root div[data-test-id="Search"] {
   width: 70%;
}
